DirectoryIndex index.html

Header append Vary User-Agent

RewriteEngine On

# Umleitung auf .html Dateien, wenn nicht existent
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)/?$ $1.html [NC,L]

# Umleitung auf .php Dateien, wenn nicht existent
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)/?$ $1.php [NC,L]

# Umleitung auf HTTPS und www
RewriteCond %{HTTP_HOST} !^www\. [NC,OR]
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]

# Umleitung auf HTTPS
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Entfernen des
